<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('城市的商品销量排名')"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>城市的商品销量排名</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" style="height: 500px" id="analyseOne"></div>
                </div>
            </div>
        </div>


    </div>



</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: echarts-js"/>
<script type="text/javascript">
    var prefix = ctx + "project/taobaoGoodsAnalyse";
    $(function () {
        getData()
    });

    function getData() {
        $.get(prefix + "/cityGoodsSales", function (result) {
            var lineChart = echarts.init(document.getElementById("analyseOne"));

            if (result.code == web_status.SUCCESS) {
                var lineoption = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: ['销量'],
                        top: '5%' // 将图例位置调整到顶部
                    },
                    grid: {
                        left: '5%',
                        right: '10%',
                        bottom: '10%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: true,
                            data: [],
                            axisLabel: {
                                rotate: 0, // 取消旋转
                                formatter: function(value) {
                                    return value; // 不限制字符长度
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#111111'
                                }
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '销量',
                            nameTextStyle: {
                                color: '#333'
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#ccc'
                                }
                            },
                            axisLabel: {
                                color: '#333'
                            },
                            splitLine: {
                                lineStyle: {
                                    type: 'dashed',
                                    color: '#ddd'
                                }
                            }
                        },
                    ],
                    series: [
                        {
                            name: '销量',
                            type: 'line',
                            data: [],
                            yAxisIndex: 0,
                            symbol: 'circle',
                            symbolSize: 6,
                            min:5,
                            interval:1,
                            lineStyle: {
                                color: '#e8075f', // 蓝色线条
                                width: 2
                            },
                            itemStyle: {
                                color: '#e8075f'
                            },
                            label: {
                                show: true,
                                position: 'top',
                                color: '#e8075f',
                                formatter: function(params) {
                                    return params.value.toLocaleString(); // 格式化数字
                                }
                            },
                            emphasis: {
                                focus: 'series'
                            }
                        },
                    ]
                };
                for (let i = 0; i < result.data.length; i++) {
                    lineoption.xAxis[0].data.push(result.data[i].city)
                    lineoption.series[0].data.push(result.data[i].total_sales)
                }
                lineChart.setOption(lineoption);
                $(window).resize(lineChart.resize);
            } else {
                console.log(result)
            }
        });

    }

</script>
</body>
</html>